{% extends "base.html" %}
{% load static %}
{% block title %}
    Import Data
{% endblock %}

{% block style %}
    <link href="{% static 'lib/css/sweetalert2.min.css' %}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block content %}
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Home </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Import Data</a>
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a href="#" class="btn kt-subheader__btn-primary">
                    Import Data &nbsp;
                    <i class="flaticon-list-2"></i>
                </a>
            </div>
        </div>

    </div>


    <div class="kt-portlet kt-portlet--mobile m-0">
        <div class="kt-portlet__body">
            <form id="teacher_csv_form" role="form"
                  class="form-horizontal" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label>File Browser:</label>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" name="csvFile" multiple>
                        <label class="custom-file-label" for="csvFile">Choose file</label>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" id="save-btn">Upload File</button>
            </form>
            <br/>
            <div id="error" class=""></div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'lib/js/sweetalert2.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/js/sweetalert2.init.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/js/sweetalert2.js' %}" type="text/javascript"></script>

    <script type="application/javascript">
        var teacherCsvForm = function () {

            var init = function () {
                $('#save-btn').click(function () {
                    $("#teacher_csv_form").submit();
                });
                initValidation();
            };
            var initValidation = function () {
                $("#teacher_csv_form").validate({
                    rules: {
                        csvFile: {extension: "csv|xlsx", required: true},
                    },
                    messages: {
                        csvFile: {
                            extension: "Only Excel or CSV files allowed (xlsx, cvs)",
                            required: 'This field is required',
                        },
                    },
                    submitHandler: function () {
                        $("#error").html('');
                        submitForm();
                    }
                });
            };
            submitForm = function () {
                var data = new FormData($('#teacher_csv_form').get(0));
                mainModule.closeModal();

                $.ajax({
                    url: '{% url "teacher_import" %}',
                    type: "POST",
                    data: data,
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.status == "OK") {

                            swal.fire({
                                type: 'success',
                                title: 'Your Data Has Been Uploaded',
                                timer: 2000,
                                onOpen: function () {
                                    swal.showLoading()
                                }
                            }).then(function (result) {
                                if (result.dismiss === 'timer') {
                                    window.location.href = "{% url 'teacher' %}"
                                }
                            });
                        } else {
                            if (response.messages) {
                                var content = $('<div>');
                                if (response.messages.length > 0) {
                                    var table = $('<table style="max-height: 200px; display: block; overflow-y: auto;">')
                                        .addClass('table')
                                        .addClass('table-bordered')
                                        .addClass('table-hover');
                                    bodyContent += '<tr>';
                                    var body = $('<tbody>');
                                    var bodyContent = '';
                                    $.each(response.messages, function (i, e) {
                                        bodyContent += '<tr><td style="width: 1%;border: 1px solid #ff0e0e;color:#ff0e0e">' + e + '</td></tr>';
                                    });
                                    body.append(bodyContent);
                                    table.append(body);
                                    content.append(table);
                                    content.append('<br />');
                                    $("#error").html(content);
                                }

                            } else {
                                swal.fire("Upload Failed!", "Error during Upload Data", "error");
                            }
                        }
                    },
                    error: function () {
                        swal.fire("Upload Failed!", "Error during Upload Data", "error");
                    },
                });
            };
            return {
                init: init,
            };
        }();
        $(function () {
            teacherCsvForm.init();
        });
    </script>
{% endblock %}