{% extends "base.html" %}
{% load static %}
{% block title %}
    Teachers
{% endblock %}

{% block style %}
    <link href="{% static 'lib/css/datatables.bundle.css' %}" rel="stylesheet" type="text/css"/>

{% endblock %}

{% block content %}
    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
                Home </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Teachers</a>
            </div>
        </div>
        <div class="kt-subheader__toolbar">
            <div class="kt-subheader__wrapper">
                <a href="{% url 'teacher_import' %}" class="btn kt-subheader__btn-primary">
                    Import Data &nbsp;
                    <i class="flaticon-list-2"></i>
                </a>
            </div>
        </div>

    </div>


    <div class="kt-portlet kt-portlet--mobile m-0">
        <div class="kt-portlet__body">
            <!--begin: Search Form -->
            <form class="kt-form kt-form--fit">
                <div class="row kt-margin-b-20">
                    <div class="col-sm-2 kt-margin-b-10-tablet-and-mobile">
                        <input type="text" class="form-control kt-input" placeholder="First Name" data-col-index="1">
                    </div>
                    <div class="col-sm-2 kt-margin-b-10-tablet-and-mobile">
                        <input type="text" class="form-control kt-input" placeholder="Last Name" data-col-index="2">
                    </div>
                    <div class="col-sm-2 kt-margin-b-10-tablet-and-mobile">
                        <input type="text" class="form-control kt-input" placeholder="Subject" data-col-index="6">
                    </div>
                    <div class="col-sm-3">
                        &nbsp;&nbsp;
                        <button class="btn btn-primary btn-brand--icon" id="kt_search">
						<span>
							<i class="flaticon-search"></i>
							<span>Search</span>
						</span>
                        </button>
                        &nbsp;&nbsp;
                        <button class="btn btn-secondary btn-secondary--icon" id="kt_reset">
						<span>
							<i class="flaticon-close"></i>
							<span>Reset</span>
						</span>
                        </button>
                    </div>
                </div>
            </form>

            <table class="table table-striped- table-bordered table-hover table-checkable" id="kt_table_1">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email Address</th>
                    <th>Phone Number</th>
                    <th>Room Number</th>
                    <th>Subject Taught</th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'lib/js/datatables.js' %}" type="text/javascript"></script>
    <script type="application/javascript">
        var TeachersDataTableModule = function () {
            var initActionBtns = function (data, type, row) {
                    return btns = '<a href="#" class="btn btn-sm btn-clean btn-icon btn-icon-md btn-view" title="View" row-id="' + row.id + '" action="view">'
                        + '  <i class="flaticon-eye"></i>'
                        + '</a>';

                },
                initTable = function () {
                    var tableOptions = {
                        // datatable view settings
                        dom: `<'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'l><'col-sm-12 col-md-7 dataTables_pager'ip>>`,
                        ajax: {
                            url: '{% url 'teacher_grid_data' %}',
                            type: 'POST',
                            data: {'csrfmiddlewaretoken': '{{ csrf_token }}'}
                        },
                        pageLength: 25,
                        scrollY: ($(document).height() - 352) + "px",
                        processing: true,
                        serverSide: true,
                        order: [[0, "desc"]],
                        columns: [
                            {name: 'first_name', data: 'first_name'},
                            {name: 'last_name', data: 'last_name'},
                            {name: 'email', data: 'email'},
                            {name: 'phone', data: 'phone'},
                            {name: 'room_number', data: 'room_number'},
                            {
                                name: 'subjects_taught', data: 'subjects_taught',
                                render: function (data, type, full, meta) {
                                    var content = '';
                                    $.each(data.split(','), function (i, e) {
                                        content += '<span class="kt-badge kt-badge--inline kt-badge--brand">' + e + '</span> ';
                                    });
                                    return content;
                                }
                            },
                            {
                                orderable: false,
                                name: 'Actions', render: initActionBtns
                            },
                        ],
                        drawCallback: function (settings) {
                            $(".btn-view").click(function () {
                                var id = $(this).attr('row-id');
                                mainModule.openModal('{% url 'teacher_details' %}?id=' + id);
                            });
                        }
                    };
                    table = $('#kt_table_1').DataTable(tableOptions);

                    //$('.kt-input[data-toggle=toggle]').bootstrapToggle();
                    $('#kt_search').on('click', function (e) {
                        e.preventDefault();
                        var params = {};
                        $('.kt-input').each(function () {
                            var i = $(this).data('col-index'),
                                param = $(this).val();
                            if ($(this).attr('type') === 'checkbox')
                                param = $(this).prop('checked');
                            if (params[i]) {
                                params[i] += '|' + param;
                            } else {
                                params[i] = param;
                            }
                        });
                        $.each(params, function (i, val) {
                            // apply search params to datatable
                            table.column(i).search(val ? val : '', false, false);
                        });
                        table.table().draw();
                    });
                    $("#kt_reset").on("click", function (e) {
                        e.preventDefault();
                        $('input').val(''),
                            $(".kt-input").each(function () {
                                $(this).val(""),
                                    table.column($(this).data("col-index")).search("", !1, !1)
                            }),
                            table.table().draw()
                    });
                };
            return {
                initTable: initTable
            }
        }();
        $(function () {
            TeachersDataTableModule.initTable();
        })
    </script>
{% endblock %}