{% load static %}
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">
        Teacher Details
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    </button>
</div>
<div class="modal-body">
    <div class="kt-widget kt-widget--user-profile-1">
        <div class="kt-widget__head">
            <div class="kt-widget__media">
                <img src="
                        {% if teacher.profile_image %}{{ teacher.profile_image.url }}{% else %}{% static 'lib/images/default.jpg' %}{% endif %}"
                     alt="image">
            </div>
            <div class="kt-widget__content">
                <div class="kt-widget__section">
                    <a href="#" class="kt-widget__username">
                        {{ teacher.first_name }} {{ teacher.last_name }}
                        <i class="flaticon2-correct kt-font-success"></i>
                    </a>

                </div>
            </div>
        </div>
        <div class="kt-widget__body">
            <div class="kt-widget__content">
                <div class="kt-widget__info">
                    <span class="kt-widget__label">Email:</span>
                    <a href="#" class="kt-widget__data">{{ teacher.email }}</a>
                </div>
                <div class="kt-widget__info">
                    <span class="kt-widget__label">Phone:</span>
                    <a href="#" class="kt-widget__data">{{ teacher.phone }}</a>
                </div>
                <div class="kt-widget__info">
                    <span class="kt-widget__label">Room Number:</span>
                    <span class="kt-widget__data">{{ teacher.room_number }}</span>
                </div>
            </div>
            {% for subject in teacher.subjects_taught %}
                <span class="kt-badge kt-badge--inline kt-badge--brand">{{ subject }}</span>
            {% endfor %}

        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>