{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="utf-8"/>
    <title>Teacher Directory | {% block title %}{% endblock %}</title>
    <meta name="description" content="Teach Directory">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                "families": ["Poppins:300,400,500,600,700", "Roboto:300,400,500,600,700"]
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>

    <link href="{% static 'lib/css/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'lib/css/perfect-scrollbar.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'lib/css/style.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'lib/css/light.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'lib/css/menu-light.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'lib/css/brand-dark.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'lib/css/aside-dark.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'lib/css/owl.carousel.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'lib/css/owl.theme.default.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'lib/css/flaticon.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'lib/css/line-awesome.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="shortcut icon" href="./assets/media/logos/favicon.ico"/>
    {% block style %}
    {% endblock %}
</head>


<body class="kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header-mobile--fixed kt-subheader--fixed kt-subheader--enabled kt-subheader--solid kt-aside--enabled kt-aside--fixed kt-page--loading">


<div class="kt-grid kt-grid--hor kt-grid--root">
    <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
        {% include "main_components/aside.html" %}
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper" id="kt_wrapper">
            {% include "main_components/header.html" %}
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor">
                <div class="kt-content  kt-grid__item kt-grid__item--fluid" id="kt_content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            {% include "main_components/footer.html" %}
        </div>
    </div>
</div>

<div class="modal fade" id="main_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
</body>


<script>
    var KTAppOptions = {
        "colors": {
            "state": {
                "brand": "#5d78ff",
                "dark": "#282a3c",
                "light": "#ffffff",
                "primary": "#5867dd",
                "success": "#34bfa3",
                "info": "#36a3f7",
                "warning": "#ffb822",
                "danger": "#fd3995"
            },
            "base": {
                "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
            }
        }
    };
</script>
<script src="{% static 'lib/js/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/popper.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/js.cookie.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/moment.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/tooltip.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/perfect-scrollbar.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/sticky.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/wNumb.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/owl.carousel.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/scripts.bundle.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/fullcalendar.bundle.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/jquery.validate.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/additional-methods.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/jquery-validation.init.js' %}" type="text/javascript"></script>

<script src="{% static 'lib/js/dashboard.js' %}" type="text/javascript"></script>
<script src="{% static 'apps/js/global.js' %}" type="text/javascript"></script>

{% block scripts %}
{% endblock %}

</body>
</html>
