{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Teachers | Login</title>
    <meta name="description" content="Latest updates and statistic charts">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js"></script>
    <script>
        WebFont.load({
            google: {
                "families": ["Poppins:300,400,500,600,700"]
            },
            active: function () {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <link href="{% static 'lib/css/perfect-scrollbar.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'lib/css/line-awesome.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'lib/css/flaticon.css' %}" rel="stylesheet" type="text/css"/>


    <link href="{% static 'lib/css/style.bundle.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'apps/css/global.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'lib/css/login-3.css' %}" rel="stylesheet" type="text/css"/>

    {% block styleContent %}
    {% endblock %}
</head>


<body class="kt-page--loading-enabled kt-page--loading kt-page--fluid kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-header--fixed kt-header--minimize-menu kt-header-mobile--fixed kt-subheader--enabled kt-subheader--transparent kt-page--loading">
<!-- begin:: Page -->
<div class="kt-grid kt-grid--ver kt-grid--root">
    <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v3 kt-login--signin" id="kt_login">
        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor"
             style="background-image: url({% static 'lib/images/bg-3.jpg' %});">
            <div class="kt-grid__item kt-grid__item--fluid kt-login__wrapper">
                <div class="kt-login__container">
                    <div class="kt-login__logo">
                        <a href="#">
                            <img src="{% static 'apps/images/teachers.png' %}" height="150px" alt="">
                        </a>
                    </div>
                    <div class="kt-login__signin">
                        <form class="kt-form" action="{% url 'login' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="next" value='{{ next|default:"" }}'/>
                            <div class="input-group">
                                    <input class="form-control" type="text" placeholder="Username" name="username"
                                           autocomplete="off">
                            </div>
                            <div class="input-group">
                                    <input class="form-control" type="password" placeholder="Password" name="password">
                            </div>
                            {% if form.errors %}
                                <div class="alert alert-solid-danger alert-bold kt-login__actions" role="alert">
                                    <div class="alert-text"> enter a correct Username and password.</div>
                                </div>
                            {% endif %}
                            <div class="kt-login__actions">
                                <button id="kt_login_signin_submit"
                                        class="btn btn-success btn-elevate kt-login__btn-primary">Sign In
                                </button>
                            </div>
                        <div class="kt-login__account">
									<span class="kt-login__account-msg">
										© Ahmad Mouaness {% now "Y" %}
									</span>
								</div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    var KTAppOptions = {
        "colors": {
            "state": {
                "brand": "#5d78ff",
                "dark": "#282a3c",
                "light": "#ffffff",
                "primary": "#5867dd",
                "success": "#34bfa3",
                "info": "#36a3f7",
                "warning": "#ffb822",
                "danger": "#fd3995"
            },
            "base": {
                "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"],
                "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"]
            }
        }
    };
</script>
<script src="{% static 'lib/js/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/jquery.form.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/popper.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/moment.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/tooltip.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/perfect-scrollbar.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/sweetalert2.all.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/sweetalert2.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/sticky.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/wNumb.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/jquery.validate.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/additional-methods.min.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/jquery-validation.init.js' %}" type="text/javascript"></script>
<script src="{% static 'lib/js/scripts.bundle.js' %}" type="text/javascript"></script>

<script src="{% static 'apps/js/global.js' %}" type="text/javascript"></script>
<script>
    "use strict";
    var KTLoginGeneral = function () {
        return {
            init: function () {
                $("form").validate({
                    rules: {
                        username: {
                            required: !0
                        },
                        password: {
                            required: !0
                        }
                    }
                });
            }
        }
    }();
</script>
</body>

</html>