.select2.is-invalid .select2-selection{
	border-color: #fd27eb;
}
.select2-container--default.is-invalid .select2-selection--single .select2-selection__arrow{
	color: #fd27eb;
}
.kt-header__brand .kt-header__brand-logo img{
	width: 100px;
}
tr.even {
    background-color: #faf3ff;
}
tr.optimal-row {
    background-color: rgba(0, 255, 20, 0.2);
}
tr.optimal-row:hover  {
    background-color: rgba(0, 255, 20, 0.2) !important;
}
tr.wrong-row {
    background-color: #ff00001f;
}
tr.even.wrong-row {
    background-color: #ff000024;
}
tr.wrong-row.optimal-row, tr.even.wrong-row.optimal-row, tr.optimal-row, tr.even.optimal-row {
    background-color: #e0ffe2;
}
tr.wrong-row:hover {
	background-color: #ff000038 !important;
}
@media (min-width: 1600px){
	.modal-lg, .modal-xl {
	    max-width: 1580px;
	}
}
.map-control{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100px;
	background-color: rgba(255, 255, 255, 0.7);
	padding-top: 10px;
	padding-bottom: 10px;
}
.map-control ul.end{
    position: absolute;
    bottom: 0;
    display: contents;
}
.map-control>ul{
	display: contents;
}
.map-control>ul>li{
	list-style: none;
	text-align: center;
    margin-bottom: 10px;
}
.map-control>ul>li>a>span{
    display: block;
    font-size: 1rem;
}
.map-control>ul>li>a>span:hover{
    background-color: rgba(93, 76, 245, 0.06);
    cursor: pointer;
}
.map-control>ul>li>a>span>i{
	display: block;
    font-size: xx-large;
}
.edit-confirmation{
    position: fixed;
    bottom: 15px;
    left: 27px;
    background-color: #00000030;
    border-radius: 3px;
    width: 400px;
	padding: 5px;
	display: none;
}
.edit-confirmation div>button{
	width: 100%;
}
.toc-body {
    width: 700px;
    position: absolute;
    z-index: 9;
    top: 0;
    right: -700px;
    bottom: 0;
    background-color: white;
    transition: 0.5s;
    border-left: #d4d4d4 1px solid;
}
.toc-body.sm-toc {
    width: 400px;
}
.toc-body.toc-open {
    right: 0;
    transition: 0.5s;
}

.toc-open-btn button {
    position: absolute;
    right: 100%;
    transition: 1.5s;
    top: 270px;
    height: 50px;
    border-radius: 10px 0 0 10px;
}
.map{
    height:896px;
}
.toc-body .kt-portlet__body #content{
	padding: 10px;
    position: absolute;
    top: 109px;
    right: 0;
    bottom: 0;
    left: 0;
}
.toc-body .kt-portlet__body #content .content-list{
    overflow-x: hidden;
    max-height: 85%;
}
.toc .kt-portlet__body #content .content-list{
    overflow-x: hidden;
    max-height: 90%;
}
.toc-body .kt-portlet__body,
.toc .kt-portlet__body{
	position: unset;
}
.toc-body .kt-portlet,
.toc .kt-portlet{
	box-shadow: unset;
}
.toc-body .kt-portlet .kt-portlet__title,
.toc .kt-portlet .kt-portlet__title{
    box-shadow: 0px 0px 13px 0px rgba(82, 63, 105, 0.05);
}
.toc-body .kt-portlet .kt-portlet__title.no-shadow,
.toc .kt-portlet .kt-portlet__title.no-shadow{
    box-shadow: unset;
}
.toc-filter{
    position: absolute;
    z-index: 8;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(208, 208, 208, 0.4);
}
.toc-filter form{
    padding-right: 409px;
}
.toc-filter > .content > .row{
    background: rgba(255, 255, 255, 0.8);
    padding-right: 409px;
}
.toc-filter .row.item{
    border-bottom: #d4d4d4 1px solid;
}

@media (min-width: 1025px){
	.kt-header--fixed .kt-header {
		height: 50px;
	}
}
@media (min-width: 1025px){
	.kt-header--fixed .kt-wrapper {
		padding-top: 50px;
	}
}
.kt-portlet__body.p-0{
	margin: 15px;
}
.white-background{
	background: #fff;
}
.btn.btn-icon.sm-btn, .kt-checkbox.lg-checkbox > span{
    height: 2rem;
    width: 2rem;
}
#gmaps_context_menu{
	padding: 0 !important;
	
}
#gmaps_context_menu li{
	padding: 5px;
}
#gmaps_context_menu li:hover{
	background-color: #591df1;
}
#gmaps_context_menu li a{
	font-weight: bold;
	color: #591df1;
}
#gmaps_context_menu li:hover a{
	color: #ffffff;
}
td.details-control {
    background: url(../../libs/img/details_open.png) no-repeat center center;
    cursor: pointer;
    padding: 20px;
}
tr.shown td.details-control {
    background: url(../../libs/img/details_close.png) no-repeat center center;
}
.table.child-scenario {
	background-color: rgba(88, 103, 221, 0.1);
}
.daterangepicker .ranges{
	width: 190px;
}
.pac-container{
	z-index: 9999999;
}
.btn-select-marker {
    background: url(../../libs/img/icons-toolbar-002.svg);
    width: 21px;
    height: 21px;
    background-position: -21px -21px;
    display: block;
}
.btn-show-hide-trip {
    background: url(../../libs/img/icons-infowindow-000.svg);
    width: 21px;
    height: 21px;
    display: block;
    background-position: -21px 0;
}
.btn-edit-marker {
    background: url(../../libs/img/icons-infowindow-000.svg);
    width: 21px;
    height: 21px;
    display: block;
    background-position: 0 0;
}
#customControlDiv{
	box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02)
}
.gmnoprint div > div{
	padding: 15px !important;
}
.pointer{
	cursor: pointer;
}
@media (min-width: 1024px){
	.modal-lg, .modal-xl {
	    max-width: 1100px;
	}
}
@media (max-width: 1499px){
	.kt-container {
	    padding: 0 !important;
	}
}
.backup-v-row{
	background-color: #feffbf;
}
select.form-control option:disabled{
    background-color: #1dc9b7;
}
.toc-toggle {
    padding: 6px 8px;
}
.btn.btn-icon.btn-xs, .btn-group-xs > .btn.btn-icon {
    height: 1.5rem;
    width: 1.5rem;
}
input.error,
input.error:focus {
	border: 1px solid #fd27eb;
}
.btn-group-xs > .btn {
    padding: 0.1rem .5rem;
    font-size: 0.875rem;
}
@media (min-width: 1550px) {
	.modal-dialog.modal-xl {
	    max-width: 1530px;
	}
}